html {
  scroll-behavior: smooth;
}

.navbar{
  background-color: whitesmoke;
}

* {
  font-family: "Inter", sans-serif;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: clamp(1.1rem, 6vw, 1.75em);
}

.navbar-links {
  margin-left: auto;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-left: 1rem;
  font-size: clamp(1em, 3vw, 1.1em);
}

.nav-link:focus {
  color: blue;
}

.section-offset {
  scroll-margin-top: 75px;
}


.role {
  font-size: clamp(2rem, 6vw, 5em);
  font-weight: 800;
  line-height: 1.2;
}

.role span {
  color: blue;
}

.name {
  font-size: clamp(1rem, 2vw, 1.5em);
}

.intro {
  font-size: clamp(1rem, 2vw, 1.2em);
}

.handshake-emoji {
  display: inline-block;
  cursor: pointer;
  animation: scale-hand 1s 1s ease-in,
    shake 1s 1s 1 ease;
}

@keyframes scale-hand {
  0% {
    transform: scale(3);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shake {

  0% {
    transform: scale(2) rotate(0deg);
  }

  25%,
  75% {
    transform: scale(2) rotate(10deg);
  }

  50% {
    transform: scale(2) rotate(-10deg);
  }

  100% {
    transform: scale(1) rotate(0deg);
  }
}

.pro-pic-div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: clamp(300px, 30vw, 400px);
  height: clamp(300px, 30vw, 400px);
  aspect-ratio: 1;
  border: 1px solid blue;
}

.pro-pic-div:hover {
  box-shadow: 0 0 20px blue;
}

.get-in-touch-btn,
.get-in-touch-btn:hover {
  background-color: blue;
}

.btn {
  font-family: "Poppins", sans-serif;
}

textarea {
  resize: none;
}

.contact-button {
  background-color: blue;
  border-color: blue;
  color: white;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: clamp(2rem, 4vw, 3em);
}

.thanks {
  font-size: clamp(1rem, 1.5vw, 1.5em);
}

.bi:hover {
  color: #0d6efd;
  transition: 0.3s ease;
  cursor: pointer;
}

.thanks span {
  color: blue;
}

.glow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: clamp(75px, 8vw, 100px);
  height: clamp(75px, 8vw, 100px);
  background-color: transparent;
  border-radius: 10px;
  border: 0.5px solid;
  transition: transform 0.75s;
}

.glow:hover {
  transform: scale(1.1);
}

.icon-heading {
  font-family: "Poppins", sans-serif;
  font-size: small;
  white-space: nowrap;
  color: black;
}

.html-glow,
.git-glow,
.postman-glow {
  border-color: #E34F26;
  box-shadow: 0 0 12px #E34F26;
}

.html-glow p,
.git-glow p,
.postman-glow p {
  color: #E34F26;
}

.css-glow,
.vsc-glow {
  border-color: #1572B6;
  box-shadow: 0 0 12px #1572B6;
}

.css-glow p,
.vsc-glow p {
  color: #1572B6;
}

.js-glow {
  border-color: #F7DF1E;
  box-shadow: 0 0 12px #F7DF1E;
}

.js-glow p {
  color: #F7DF1E;
}

.bs-glow {
  border-color: #7952B3;
  box-shadow: 0 0 12px #7952B3;
}

.bs-glow p {
  color: #7952B3;
}

.react-glow {
  border-color: #61DAFB;
  box-shadow: 0 0 12px #61DAFB;
}

.react-glow p {
  color: #61DAFB;
}

.node-glow {
  border-color: #339933;
  box-shadow: 0 0 12px #339933;
}

.node-glow p {
  color: #339933;
}

.ex-glow,
.vercel-glow,
.github-glow,
.chatgpt-glow,
.render-glow {
  border-color: #000000;
  box-shadow: 0 0 12px #000000;
}

.ex-glow p,
.vercel-glow p,
.github-glow p .chatgpt-glow p,
.render-glow p {
  color: #000000;
}

.mdb-glow {
  border-color: #47A248;
  box-shadow: 0 0 12px #47A248;
}

.mdb-glow p {
  color: #47A248;
}

.down-icon {
  color: blue;
  animation: updown 2.5s infinite ease-in-out;
}

@keyframes updown {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(5px);
  }
}
